<!DOCTYPE html><html><head><script src="index.js" defer=""></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

	<title>board-game-card</title>

	<!--
`iron-pages` is used to select one of its children to show. One use is to cycle through a list of
children "pages".

Example:

    <iron-pages selected="0">
      <div>One</div>
      <div>Two</div>
      <div>Three</div>
    </iron-pages>

    <script>
      document.addEventListener('click', function(e) {
        var pages = document.querySelector('iron-pages');
        pages.selectNext();
      });
    </script>

@group Iron Elements
@class iron-pages
@hero hero.svg
@demo demo/index.html
@extends iron-selector
-->

</head>

<body><div hidden="" by-vulcanize=""><dom-module id="iron-pages" assetpath="../../../bower_components/iron-pages/">

  <style>

    :host {
      display: block;
    }

    :host > ::content > :not(.iron-selected) {
      display: none !important;
    }

  </style>

  <template>

    <content></content>

  </template>

</dom-module>

<dom-module id="board-game-card" assetpath="/">
	<style>
		:host {
			display: inline-block;
			position: relative;
			background-color: gray;
			border: 1px sloid black;
			border-radius: 3px;
			padding: 2px;
			margin: 5px;
			font-size: 1em;
			font-weight: 300;
		    page-break-inside: avoid;
    		-webkit-region-break-inside: avoid;
		}
	</style>
	<template>
		<iron-pages id="card" selected="0" on-click="toggle">
			<content></content>
		</iron-pages>
	</template>
</dom-module>
	</div>

	<board-game-card></board-game-card>



</body></html>