<!DOCTYPE html><html><head><script src="test.js" defer=""></script>
  <meta charset="utf-8">

  </head><body>'); // jshint ignore:line
    });
    util_js.debug('Environment scripts loaded');
  }

  /**
   * We have some hard dependencies on things that should be loaded via
   * `environmentScripts`, so we assert that they're present here; and do any
   * post-facto setup.
   */
  function ensureDependenciesPresent() {
    _ensureMocha();
    _checkChai();
  }

  function _ensureMocha() {
    var Mocha = window.Mocha;
    if (!Mocha) {
      throw new Error('WCT requires Mocha. Please ensure that it is present in WCT.environmentScripts, or that you load it before loading web-component-tester/browser.js');
    }
    _reporters.injectMocha(Mocha);
    // Magic loading of mocha's stylesheet
    var mochaPrefix = util_js.scriptPrefix('mocha.js');
    // only load mocha stylesheet for the test runner output
    // Not the end of the world, if it doesn't load.
    if (mochaPrefix &amp;&amp; window.top === window.self) {
      util_js.loadStyle(mochaPrefix + 'mocha.css');
    }
  }

  function _checkChai() {
    if (!window.chai) {
      util_js.debug('Chai not present; not registering shorthands');
      return;
    }

    window.assert = window.chai.assert;
    window.expect = window.chai.expect;
  }

  var errors_js = {
    get globalErrors () { return globalErrors; },
    get listenForErrors () { return listenForErrors; }
  };

  /**
   * @license
   * Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
   * This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
   * The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
   * The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
   * Code distributed by Google as part of the polymer project is also
   * subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
   */
  var globalErrors = [];

  /**
   * Hook the environment to pick up on global errors.
   */
  function listenForErrors() {
    window.addEventListener('error', function(event) {
      globalErrors.push(event.error);
    });

    // Also, we treat `console.error` as a test failure. Unless you prefer not.
    var origConsole = console;
    var origError   = console.error;
    console.error = function wctShimmedError() {
      origError.apply(origConsole, arguments);
      if (config_js.get('trackConsoleError')) {
        throw 'console.error: ' + Array.prototype.join.call(arguments, ' ');
      }
    };
  }

  var _mocha = {
    get stubInterfaces () { return stubInterfaces; }
  };

  /**
   * @license
   * Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
   * This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
   * The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
   * The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
   * Code distributed by Google as part of the polymer project is also
   * subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
   */
  var MOCHA_EXPORTS = {
    // https://github.com/visionmedia/mocha/blob/master/lib/interfaces/tdd.js
    tdd: {
      'setup':         '"before"',
      'teardown':      '"after"',
      'suiteSetup':    '"beforeEach"',
      'suiteTeardown': '"afterEach"',
      'suite':         '"describe" or "context"',
      'test':          '"it" or "specify"',
    },
    // https://github.com/visionmedia/mocha/blob/master/lib/interfaces/bdd.js
    bdd: {
      'before':     '"setup"',
      'after':      '"teardown"',
      'beforeEach': '"suiteSetup"',
      'afterEach':  '"suiteTeardown"',
      'describe':   '"suite"',
      'context':    '"suite"',
      'xdescribe':  '"suite.skip"',
      'xcontext':   '"suite.skip"',
      'it':         '"test"',
      'xit':        '"test.skip"',
      'specify':    '"test"',
      'xspecify':   '"test.skip"',
    },
  };

  /**
   * Exposes all Mocha methods up front, configuring and running mocha
   * automatically when you call them.
   *
   * The assumption is that it is a one-off (sub-)suite of tests being run.
   */
  function stubInterfaces() {
    Object.keys(MOCHA_EXPORTS).forEach(function(ui) {
      Object.keys(MOCHA_EXPORTS[ui]).forEach(function(key) {
        window[key] = function wrappedMochaFunction() {
          _setupMocha(ui, key, MOCHA_EXPORTS[ui][key]);
          if (!window[key] || window[key] === wrappedMochaFunction) {
            throw new Error('Expected mocha.setup to define ' + key);
          }
          window[key].apply(window, arguments);
        };
      });
    });
  }

  // Whether we've called `mocha.setup`
  var _mochaIsSetup = false;

  /**
   * @param {string} ui Sets up mocha to run `ui`-style tests.
   * @param {string} key The method called that triggered this.
   * @param {string} alternate The matching method in the opposite interface.
   */
  function _setupMocha(ui, key, alternate) {
    var mochaOptions = config_js.get('mochaOptions');
    if (mochaOptions.ui &amp;&amp; mochaOptions.ui !== ui) {
      var message = 'Mixing ' + mochaOptions.ui + ' and ' + ui + ' Mocha styles is not supported. ' +
                    'You called "' + key + '". Did you mean ' + alternate + '?';
      throw new Error(message);
    }
    if (_mochaIsSetup) return;
    mochaOptions.ui = ui;
    mocha.setup(mochaOptions);  // Note that the reporter is configured in run.js.
  }

  /**
   * @license
   * Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
   * This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
   * The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
   * The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
   * Code distributed by Google as part of the polymer project is also
   * subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
   */
  var SOCKETIO_ENDPOINT = window.location.protocol + '//' + window.location.host;
  var SOCKETIO_LIBRARY  = SOCKETIO_ENDPOINT + '/socket.io/socket.io.js';

  /**
   * A socket for communication between the CLI and browser runners.
   *
   * @param {string} browserId An ID generated by the CLI runner.
   * @param {!io.Socket} socket The socket.io `Socket` to communicate over.
   */
  function CLISocket(browserId, socket) {
    this.browserId = browserId;
    this.socket    = socket;
  }

  /**
   * @param {!Mocha.Runner} runner The Mocha `Runner` to observe, reporting
   *     interesting events back to the CLI runner.
   */
  CLISocket.prototype.observe = function observe(runner) {
    this.emitEvent('browser-start', {
      url: window.location.toString(),
    });

    // We only emit a subset of events that we care about, and follow a more
    // general event format that is hopefully applicable to test runners beyond
    // mocha.
    //
    // For all possible mocha events, see:
    // https://github.com/visionmedia/mocha/blob/master/lib/runner.js#L36
    runner.on('test', function(test) {
      this.emitEvent('test-start', {test: getTitles(test)});
    }.bind(this));

    runner.on('test end', function(test) {
      this.emitEvent('test-end', {
        state:    getState(test),
        test:     getTitles(test),
        duration: test.duration,
        error:    test.err,
      });
    }.bind(this));

    runner.on('childRunner start', function(childRunner) {
      this.emitEvent('sub-suite-start', childRunner.share);
    }.bind(this));

    runner.on('childRunner end', function(childRunner) {
      this.emitEvent('sub-suite-end', childRunner.share);
    }.bind(this));

    runner.on('end', function() {
      this.emitEvent('browser-end');
    }.bind(this));
  };

  /**
   * @param {string} event The name of the event to fire.
   * @param {*} data Additional data to pass with the event.
   */
  CLISocket.prototype.emitEvent = function emitEvent(event, data) {
    this.socket.emit('client-event', {
      browserId: this.browserId,
      event:     event,
      data:      data,
    });
  };

  /**
   * Builds a `CLISocket` if we are within a CLI-run environment; short-circuits
   * otherwise.
   *
   * @param {function(*, CLISocket)} done Node-style callback.
   */
  CLISocket.init = function init(done) {
    var browserId = util_js.getParam('cli_browser_id');
    if (!browserId) return done();
    // Only fire up the socket for root runners.
    if (ChildRunner.current()) return done();

    util_js.loadScript(SOCKETIO_LIBRARY, function(error) {
      if (error) return done(error);

      var socket = io(SOCKETIO_ENDPOINT);
      socket.on('error', function(error) {
        socket.off();
        done(error);
      });

      socket.on('connect', function() {
        socket.off();
        done(null, new CLISocket(browserId, socket));
      });
    });
  };

  // Misc Utility

  /**
   * @param {!Mocha.Runnable} runnable The test or suite to extract titles from.
   * @return {!Array.<string>} The titles of the runnable and its parents.
   */
  function getTitles(runnable) {
    var titles = [];
    while (runnable &amp;&amp; !runnable.root &amp;&amp; runnable.title) {
      titles.unshift(runnable.title);
      runnable = runnable.parent;
    }
    return titles;
  }

  /**
   * @param {!Mocha.Runnable} runnable
   * @return {string}
   */
  function getState(runnable) {
    if (runnable.state === 'passed') {
      return 'passing';
    } else if (runnable.state == 'failed') {
      return 'failing';
    } else if (runnable.pending) {
      return 'pending';
    } else {
      return 'unknown';
    }
  }

  /**
   * @license
   * Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
   * This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
   * The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
   * The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
   * Code distributed by Google as part of the polymer project is also
   * subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
   */

  // Make sure that we use native timers, in case they're being stubbed out.
  var setInterval           = window.setInterval;           // jshint ignore:line
  var helpers_js__setTimeout            = window.setTimeout;            // jshint ignore:line
  var requestAnimationFrame = window.requestAnimationFrame; // jshint ignore:line

  /**
   * Runs `stepFn`, catching any error and passing it to `callback` (Node-style).
   * Otherwise, calls `callback` with no arguments on success.
   *
   * @param {function()} callback
   * @param {function()} stepFn
   */
  window.safeStep = function safeStep(callback, stepFn) {
    var err;
    try {
      stepFn();
    } catch (error) {
      err = error;
    }
    callback(err);
  };

  /**
   * Runs your test at declaration time (before Mocha has begun tests). Handy for
   * when you need to test document initialization.
   *
   * Be aware that any errors thrown asynchronously cannot be tied to your test.
   * You may want to catch them and pass them to the done event, instead. See
   * `safeStep`.
   *
   * @param {string} name The name of the test.
   * @param {function(?function())} testFn The test function. If an argument is
   *     accepted, the test will be treated as async, just like Mocha tests.
   */
  window.testImmediate = function testImmediate(name, testFn) {
    if (testFn.length &gt; 0) {
      return testImmediateAsync(name, testFn);
    }

    var err;
    try {
      testFn();
    } catch (error) {
      err = error;
    }

    test(name, function(done) {
      done(err);
    });
  };

  /**
   * An async-only variant of `testImmediate`.
   *
   * @param {string} name
   * @param {function(?function())} testFn
   */
  window.testImmediateAsync = function testImmediateAsync(name, testFn) {
    var testComplete = false;
    var err;

    test(name, function(done) {
      var intervalId = setInterval(function() {
        if (!testComplete) return;
        clearInterval(intervalId);
        done(err);
      }, 10);
    });

    try {
      testFn(function(error) {
        if (error) err = error;
        testComplete = true;
      });
    } catch (error) {
      err = error;
      testComplete = true;
    }
  };

  /**
   * Triggers a flush of any pending events, observations, etc and calls you back
   * after they have been processed.
   *
   * @param {function()} callback
   */
  window.flush = function flush(callback) {
    // Ideally, this function would be a call to Polymer.dom.flush, but that doesn't
    // support a callback yet (https://github.com/Polymer/polymer-dev/issues/851),
    // ...and there's cross-browser flakiness to deal with.

    // Make sure that we're invoking the callback with no arguments so that the
    // caller can pass Mocha callbacks, etc.
    var done = function done() { callback(); };

    // Because endOfMicrotask is flaky for IE, we perform microtask checkpoints
    // ourselves (https://github.com/Polymer/polymer-dev/issues/114):
    var isIE = navigator.appName == 'Microsoft Internet Explorer';
    if (isIE &amp;&amp; window.Platform &amp;&amp; window.Platform.performMicrotaskCheckpoint) {
      var reallyDone = done;
      done = function doneIE() {
        Platform.performMicrotaskCheckpoint();
        helpers_js__setTimeout(reallyDone, 0);
      };
    }

    // Everyone else gets a regular flush.
    var scope;
    if (window.Polymer &amp;&amp; window.Polymer.dom &amp;&amp; window.Polymer.dom.flush) {
      scope = window.Polymer.dom;
    } else if (window.Polymer &amp;&amp; window.Polymer.flush) {
      scope = window.Polymer;
    } else if (window.WebComponents &amp;&amp; window.WebComponents.flush) {
      scope = window.WebComponents;
    }
    if (scope) {
      scope.flush();
    }

    // Ensure that we are creating a new _task_ to allow all active microtasks to
    // finish (the code you're testing may be using endOfMicrotask, too).
    helpers_js__setTimeout(done, 0);
  };

  /**
   * Advances a single animation frame.
   *
   * Calls `flush`, `requestAnimationFrame`, `flush`, and `callback` sequentially
   * @param {function()} callback
   */
  window.animationFrameFlush = function animationFrameFlush(callback) {
    flush(function() {
      requestAnimationFrame(function() {
        flush(callback);
      });
    });
  };

  /**
   * DEPRECATED: Use `flush`.
   * @param {function} callback
   */
  window.asyncPlatformFlush = function asyncPlatformFlush(callback) {
    console.warn('asyncPlatformFlush is deprecated in favor of the more terse flush()');
    return window.flush(callback);
  };

  /**
   *
   */
  window.waitFor = function waitFor(fn, next, intervalOrMutationEl, timeout, timeoutTime) {
    timeoutTime = timeoutTime || Date.now() + (timeout || 1000);
    intervalOrMutationEl = intervalOrMutationEl || 32;
    try {
      fn();
    } catch (e) {
      if (Date.now() &gt; timeoutTime) {
        throw e;
      } else {
        if (isNaN(intervalOrMutationEl)) {
          intervalOrMutationEl.onMutation(intervalOrMutationEl, function() {
            waitFor(fn, next, intervalOrMutationEl, timeout, timeoutTime);
          });
        } else {
          helpers_js__setTimeout(function() {
            waitFor(fn, next, intervalOrMutationEl, timeout, timeoutTime);
          }, intervalOrMutationEl);
        }
        return;
      }
    }
    next();
  };

  /**
   * @license
   * Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
   * This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
   * The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
   * The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
   * Code distributed by Google as part of the polymer project is also
   * subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
   */
  /**
   * This file is the entry point into `web-component-tester`'s browser client.
   */
  config_js.setup(window.WCT);

  // Maybe some day we'll expose WCT as a module to whatever module registry you
  // are using (aka the UMD approach), or as an es6 module.
  var WCT = window.WCT = {};
  // A generic place to hang data about the current suite. This object is reported
  // back via the `sub-suite-start` and `sub-suite-end` events.
  WCT.share = {};
  // Until then, we get to rely on it to expose parent runners to their children.
  WCT._ChildRunner = ChildRunner;
  WCT._config      = config_js._config;


  // Public Interface

  /**
   * Loads suites of tests, supporting both `.js` and `.html` files.
   *
   * @param {!Array.<string>} files The files to load.
   */
  WCT.loadSuites = suites_js.loadSuites;


  // Load Process

  errors_js.listenForErrors();
  _mocha.stubInterfaces();
  environment_js.loadSync();

  // Give any scripts on the page a chance to declare tests and muck with things.
  document.addEventListener('DOMContentLoaded', function() {
    util_js.debug('DOMContentLoaded');

    environment_js.ensureDependenciesPresent();

    // We need the socket built prior to building its reporter.
    CLISocket.init(function(error, socket) {
      if (error) throw error;

      // Are we a child of another run?
      var current = ChildRunner.current();
      var parent  = current &amp;&amp; current.parentScope.WCT._reporter;
      util_js.debug('parentReporter:', parent);

      var childSuites    = suites_js.activeChildSuites();
      var reportersToUse = _reporters.determineReporters(socket, parent);
      // +1 for any local tests.
      var reporter = new MultiReporter(childSuites.length + 1, reportersToUse, parent);
      WCT._reporter = reporter; // For environment/compatibility.js

      // We need the reporter so that we can report errors during load.
      suites_js.loadJsSuites(reporter, function(error) {
        // Let our parent know that we're about to start the tests.
        if (current) current.ready(error);
        if (error) throw error;

        // Emit any errors we've encountered up til now
        errors_js.globalErrors.forEach(function onError(error) {
          reporter.emitOutOfBandTest('Test Suite Initialization', error);
        });

        suites_js.runSuites(reporter, childSuites, function(error) {
          // Make sure to let our parent know that we're done.
          if (current) current.done();
          if (error) throw error;
        });
      });
    });
  });

})();
//# sourceMappingURL=./browser.js.map
  <!--
`iron-pages` is used to select one of its children to show. One use is to cycle through a list of
children "pages".

Example:

    <iron-pages selected="0">
      <div>One</div>
      <div>Two</div>
      <div>Three</div>
    </iron-pages>

    <script>
      document.addEventListener('click', function(e) {
        var pages = document.querySelector('iron-pages');
        pages.selectNext();
      });
    </script>

@group Iron Elements
@class iron-pages
@hero hero.svg
@demo demo/index.html
@extends iron-selector
-->

<div hidden="" by-vulcanize=""><dom-module id="iron-pages" assetpath="../../../../bower_components/iron-pages/">

  <style>

    :host {
      display: block;
    }

    :host > ::content > :not(.iron-selected) {
      display: none !important;
    }

  </style>

  <template>

    <content></content>

  </template>

</dom-module>

<dom-module id="board-game-card" assetpath="../">
	<style>
		:host {
			display: inline-block;
			position: relative;
			background-color: gray;
			border: 1px sloid black;
			border-radius: 3px;
			padding: 2px;
			margin: 5px;
			font-size: 1em;
			font-weight: 300;
		    page-break-inside: avoid;
    		-webkit-region-break-inside: avoid;
		}
	</style>
	<template>
		<iron-pages id="card" selected="0" on-click="toggle">
			<content></content>
		</iron-pages>
	</template>
</dom-module>
	</div>
  <test-fixture id="boardGameCard">
    <template>
      <board-game-card></board-game-card>
    </template>
  </test-fixture>

  </string></string></body></html>