<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/core-pages/core-pages.html">
<link rel="import" href="../lib/paper-ripple/paper-ripple.html">
<link rel="import" href="../lib/paper-shadow/paper-shadow.html">
<link rel="import" href="../lib/core-drag-drop/core-drag-drop.html">
<link rel="import" href="../lib/flip-card/flip-card.html">
<link rel="import" href="../lib/voice-elements/dist/voice-player.html">
<link rel="import" href="game-piece.html">
<polymer-element name="game-card" attributes="selected cardData item">
<template>
	<style>
		:host {
			display: block;
			position: relative;
			background-color: white;
			padding: 2px;
			margin: 5px;
			width: 200px;
			height: 300px;
			font-size: 1em;
			font-weight: 300;
		    page-break-inside: avoid;
    		-webkit-region-break-inside: avoid; 
		}
		.card-header {
			margin: 3px;
			background-color: yellow;
		}
		.card-header h2 {
			margin: 0;
			font-size: 1.8rem;
			font-weight: 300;
		}
		.card-header .picture {
			width: 70px;
			border: 1px dotted black;
			margin: 10px;
		}
		.card-header .picture.symbol {
			border-radius: 50%;
			border: 2px solid green;
			opacity: 0.5;
		}
	</style>
	<core-pages id="card" on-click="{{ toggle }}" on-mouseenter="{{ sendCard }}" >
	<div>
		<img flex self-stretch src="../img/back{{cardData.task}}.png" style="width: 99%; height: 300px">
		<template if="{{ cardData.task }}">
		<div style="position: absolute; font-size: 64px;font-weight: bold; opacity: 0.5;text-align: center; background-color: white; left: 30px;top: 40px;">
			Akt {{cardData.akt}}<br/>
			{{ cardData.order }}.
		</div>
		</template>
	</div>
	<div class="card-header" >
		<voice-player id="player" accent="de-DE" text="{{ cardData.Aktion }}"></voice-player>
		<div layout vertical center>
			<h2 >{{cardData.name}}</h2>
			<template if="{{ cardData.akt }}">
				<div fit style="left: 5px;top: 12px">
				<template if="{{ cardData.task }}"><img src="../img/Stern.png" style="width:30px;height: 30px;"alt=""> 
				</template>					 <span style="padding: 2px 4px;border-radius: 50%; border: 1px solid black;background-color: white; ">{{cardData.akt}}</span>
				</div>
			</template>
			<img class="picture {{cardData.imgclass}}" src="../img/{{cardData.name}}.png" style="width:60%;height:100px"/>

			<div class="handle" style="width:90%; font-size: 13px;margin: 1px 32px 1px 15px;">{{cardData.Aktion}}</div>
			<template if="{{ cardData.ver }}">
				<div fit style="left: 168px;"><img src="../img/vertic.jpg" style="width:30px;height: 296px;"alt=""></div>
			</template>
			<template if="{{ cardData.hor }}">
				<div fit style="top: 266px;"><img src="../img/horiz.jpg" style="height:30px; width: 196px;"alt=""></div>
			</template>
			<template if="{{ item }}">
				<game-piece img="../img/{{cardData.name}}.png" imgclass="{{cardData.imgclass}}"></game-piece>
			</template>
		</div>
	</div>
</core-pages>
<paper-shadow z="1"></paper-shadow>
</template>
<script>
	Polymer("game-card", {
		selected: "0",
		cardData: [],
		draggie: "",
      ready: function() {
          this.$.card.selected = this.selected;
          draggie = new Draggabilly( this);
          // draggie.on( 'dragEnd', function( draggieInstance, event, pointer ) {
          // 	draggieInstance.disable();
          // });
      },
		sendCard: function() {
			var card = this.$.card;
			if(card.selected == 1) {
				this.fire('show-card', {card: this.cardData});
			}
		},
        move: function() {
            this.style.top = (50 - this.offsetTop) + "px";
            this.style.left = (1600 - this.offsetLeft) + "px";
        },
        fix: function() {
			//draggie.disable();           
        },
        show: function() {
            var card = this.$.card;
            card.selected = 1;
        },
		toggle: function() {
			var card = this.$.card;
			if(card.selected == 0) {
				this.$.player.cancel();
				this.$.player.speak();
			} else {
				this.$.player.cancel();
				return;
			}
			card.selected = 1;//(card.selected + 1) % 2;
			card.className = card.className + " clicked";
			this.fire('show-card', {card: this.cardData});
			
			
		}
	});
</script>
</polymer-element>