<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/core-pages/core-pages.html">
<link rel="import" href="../lib/paper-ripple/paper-ripple.html">
<link rel="import" href="../lib/paper-shadow/paper-shadow.html">
<link rel="import" href="../lib/core-drag-drop/core-drag-drop.html">
<link rel="import" href="../lib/flip-card/flip-card.html">
<link rel="import" href="../lib/voice-elements/dist/voice-player.html">
<link rel="import" href="game-piece.html">
<polymer-element name="game-card" attributes=" cardData">
<template>
	<style>
		:host {
			display: block;
			position: relative;
			background-color: white;
			padding: 2px;
			margin: 5px;
			width: 200px;
			height: 300px;
			font-size: 1em;
			font-weight: 300;
		    page-break-inside: avoid;
    		-webkit-region-break-inside: avoid; 
		}
		.card-header {
			margin: 3px;
			background-color: yellow;
		}
		.card-header h2 {
			margin: 0;
			font-size: 1.8rem;
			font-weight: 300;
		}
		.card-header .picture {
			width: 70px;
			border: 1px dotted black;
			margin: 10px;
		}
		.card-header .picture.symbol {
			border-radius: 50%;
			border: 2px solid green;
			opacity: 0.5;
		}
	</style>
	<core-pages id="card" on-click="{{ toggle }}" on-mouseenter="{{ sendCard }}" >
	<div><img flex self-stretch src="../img/back{{cardData.task}}.png" style="width: 99%; height: 300px"></div>
	<div class="card-header" >
		<voice-player id="player" accent="de-DE" text="{{ cardData.Aktion }}"></voice-player>
		<div layout vertical center>
			<h2>{{cardData.name}}</h2>
			<img class="picture {{cardData.imgclass}}" src="../img/{{cardData.name}}.png" style="width:60%;height:100px"/>

			<div style="width:90%; font-size: 12px;margin: 1px 32px 1px 15px;">{{cardData.Aktion}}</div>
			<template if="{{ cardData.ver }}">
				<div fit style="left: 168px;"><img src="../img/vertic.jpg" style="width:30px;height: 296px;"alt=""></div>
			</template>
			<template if="{{ cardData.hor }}">
				<div fit style="top: 266px;"><img src="../img/horiz.jpg" style="height:30px; width: 196px;"alt=""></div>
			</template>
			<template if="{{ cardData.imgclass }}">
				<game-piece img="../img/{{cardData.name}}.png" imgclass="{{cardData.imgclass}}"></game-piece>
			</template>
		</div>
	</div>
</core-pages>
<paper-shadow z="1"></paper-shadow>
</template>
<script>
	Polymer("game-card", {
		selected: "0",
		cardData: [],
      ready: function() {
          this.$.card.selected = this.selected;
      },
		sendCard: function() {
			var card = this.$.card;
			if(card.selected == 1) {
				this.fire('show-card', {card: this.cardData});
			}
		},
        show: function() {
            var card = this.$.card;
            card.selected = 1;
        },
		toggle: function() {
			var card = this.$.card;
			if(card.selected == 0) {
				this.$.player.cancel();
				this.$.player.speak();
			} else {
				this.$.player.cancel();
				return;
			}
			card.selected = 1;//(card.selected + 1) % 2;
			card.className = card.className + " clicked";
			this.fire('show-card', {card: this.cardData});
			
		}
	});
</script>
</polymer-element>