<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="game-card.html">

<polymer-element name="game-board" attributes="cards width"  on-show-card="{{showCard}}">
<template>
  <style>
    :host {
      display: block;
    }
    game-card {
      margin: 3px;
    }
  </style>

  <div id="field" layout horizontal wrap center >
    <template repeat="{{ card, cardIndex in cards}}">
      <game-card imgSrc="{{card.name}}" cardData="{{card}}" item="{{card.imgclass}}"> 
    </game-card>
  </template>
</div>
</template>
<script src="../js/base.js"></script>
<script>
  function get(name){
   if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
    return decodeURIComponent(name[1]);
  }
  function loadjscssfile(filename, filetype){
   if (filetype=="js"){ //if filename is a external JavaScript file
    var fileref=document.createElement('script')
    fileref.setAttribute("type","text/javascript")
    fileref.setAttribute("src", filename)
  }
   else if (filetype=="css"){ //if filename is an external CSS file
    var fileref=document.createElement("link")
    fileref.setAttribute("rel", "stylesheet")
    fileref.setAttribute("type", "text/css")
    fileref.setAttribute("href", filename)
  }
  if (typeof fileref!="undefined")
    document.getElementsByTagName("head")[0].appendChild(fileref)
  }

  var akt = get("akt");
  if (akt == undefined) {
    akt = 1;
  }
  loadjscssfile("../js/data" + akt+ ".js", "js") 
</script>
<script>

  StopIteration = function () {};
  StopIteration.prototype = new Error();
  StopIteration.name = 'StopIteration';
  StopIteration.message = 'StopIteration';

  arrayLikeIterator = function (arrayLike) {
    var i = 0;
    return {
      'next': function () {
        if (i >= arrayLike.length) {
          throw StopIteration;
        }
        return arrayLike[i++];
      }
    };
  };
  function shuffle(o){ 
    for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
      return o;
  };
  Array.prototype.contains = function(obj) {
    var i = this.length;
    while (i--) {
      if (this[i] === obj) {
        return true;
      }
    }
    return false;
  };
  Polymer('game-board', {
      // initialize the element's model
      width: "1480px",
      created: function() {
        initcards.push.apply(initcards,hart);
        initcards.push.apply(initcards,actcards);

        var actions = shuffle(initActions);
        this.cards = shuffle(initcards);
        var actionIter = arrayLikeIterator(actions);
        this.cards.splice(0, 0, actionIter.next());
        this.cards.splice(6, 0, actionIter.next());
        this.cards.splice(24, 0, start);
        this.cards.splice(42, 0, actionIter.next());
        this.cards.splice(48, 0, actionIter.next());
      },
      ready: function() {
        this.style.width = this.width;
        this.$.field.children[9].show();
        this.$.field.children[13].show();
        this.$.field.children[17].show();
        this.$.field.children[19].show();
        this.$.field.children[25].show();
        this.$.field.children[31].show();
        this.$.field.children[33].show();
        this.$.field.children[41].show();
        this.$.field.children[37].show();
        var startarr = [9,13,17,19,25,31,33,41,37];
        var questarr = [1,7,43,49];
        for (var i=1; i <= 49; i++) {
          if (startarr.contains(i)) {
            this.$.field.children[i].show();
            this.$.field.children[i].fix();
          } else {
            if (!questarr.contains(i)) {
              this.$.field.children[i].move();
            } else {
              this.$.field.children[i].fix();

            }
          }

        }

      },
      openAll:  function() {
        for (var i=0; i<49; i++) {
          this.$.field.children[i].show();
        }
      },
      showCard:  function(e, details, sender) {
        //alert ("ok");
        var infocard = document.getElementById("details");
        infocard.show(details);
      }
    });
</script>

</polymer-element>