<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="game-card.html">

<polymer-element name="print-board" attributes="cards width"  on-show-card="{{showCard}}">
<template>
  <style>
    :host {
      display: block;
    }
    game-card {
      margin: 3px;
    }
  </style>

  <div id="gameTable" layout horizontal wrap center style="padding-top: 220px">
    <template repeat="{{ card, cardIndex in cards}}">
    <template if="{{ card.imgclass}}">
        <game-piece style="margin: 2px;" img="../img/{{card.name}}.png" imgclass="{{card.imgclass}}"></game-piece>
    </template> 
<!--      <game-card selected="1"  cardData="{{card}}" > 
    </game-card>
      <template if="{{ (cardIndex+1) % 9 == 0 }}">
      <div class="pagebreak" style="height: 88px;width: 600px;">page-break</div>
      </template>-->
  </template>
</div>
</template>
<script>
 var initcards =  [

];
 var initActions = [
 ];
</script>
  <script>        var initcards=[];</script>
 <script src="../js/base.js"></script>
<script>        initcards.push.apply(initcards,actcards);</script> 
<script>        initcards.push.apply(initcards,initActions);</script>
<script>        initcards.push.apply(initcards,secondActions);</script>
<script src="../js/data1.js"></script>
<script>        initcards.push.apply(initcards,actcards);</script> 
<script>        initcards.push.apply(initcards,initActions);</script>
<script>        initcards.push.apply(initcards,secondActions);</script>
<script src="../js/data2.js"></script>
<script>        initcards.push.apply(initcards,actcards);</script> 
<script>        initcards.push.apply(initcards,initActions);</script>
<script>        initcards.push.apply(initcards,secondActions);</script>
<script src="../js/data3.js"></script>
<script>        initcards.push.apply(initcards,actcards);</script> 
<script>        initcards.push.apply(initcards,initActions);</script>

<!--
<script>        initcards.push.apply(initcards,normal);</script>
<script>        initcards.push.apply(initcards,hart);</script>
<script>        initcards.push.apply(initcards,extrem);</script>
  <script src="../js/data2.js"></script>
<script src="../js/data3.js"></script>
 -->
<!--<script src="../js/data1.js"></script>
<script>        initcards.push.apply(initcards,initActions);</script>
<script src="../js/data2.js"></script>
<script>        initcards.push.apply(initcards,initActions);</script>
<script src="../js/data3.js"></script>
<script>        initcards.push.apply(initcards,initActions);</script>-->
<script>
  StopIteration = function () {};
  StopIteration.prototype = new Error();
  StopIteration.name = 'StopIteration';
  StopIteration.message = 'StopIteration';

  arrayLikeIterator = function (arrayLike) {
    var i = 0;
    return {
      'next': function () {
        if (i >= arrayLike.length) {
          throw StopIteration;
        }
        return arrayLike[i++];
      }
    };
  };
  function shuffle(o){ 
    for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
      return o;
  };
  Array.prototype.contains = function(obj) {
    var i = this.length;
    while (i--) {
      if (this[i] === obj) {
        return true;
      }
    }
    return false;
  };
  Polymer('print-board', {
      // initialize the element's model
      width: "1480px",
      created: function() {

        var actions = initActions;
        this.cards = initcards;
      },
      ready: function() {
          this.style.width = this.width;
      },
      domReady: function() {
          var items = this.$.gameTable.children;
          var i = items.length;

          while(i--) {
            if (items[i].tagName === "DIV") {
              items[i].style.pageBreakBefore="always";
              items[i].style.pageBreakAfter="always";
            }
          }

      },
      openCard:  function(idx) {
        var open = [2,7,12];
        if (open.contains(idx))
          return 1;
        return 0;
      }
    });
</script>

</polymer-element>