<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/core-icon/core-icon.html">
<link rel="import" href="../lib/paper-ripple/paper-ripple.html">
<polymer-element name="game-piece" attributes="img imgclass"  >
<template>
	<style>
		:host {
			position: absolute;
			width: 112px;
			height: 112px;
			top: -200px;
			left: 0px;
			border-radius: 50%;
			color: #fff;
			overflow: hidden;
			transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
			transition-delay: 0.2s;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
			cursor: move;
			border: 3px solid green;
			background-color: white;
			z-index: 2000;
		}
		:host.bigsymbol {
			height: 112px;
		}
		div.bigsymbol img {
			background-color: yellow;
			height: 112px;
		}
		div.symbol img {
			height: 112px;
		}
	</style>
	<div  name="piece" class="fab green {{imgclass}}" draggable="true" on-click="{{clicker}}">
		<img src="{{img}}" style="width: 120px;"  />	
	</div>
</template>
<script>
	Polymer("game-piece", {	

		clicker: function(ev) {
			ev.preventDefault();
			ev.stopPropagation(); 
			return false; 
		},
		ready: function() {
			console.log("game-piece ready ");
			var draggie = new Draggabilly( this );
		}
	});
</script>
</polymer-element>